*{
    box-sizing: border-box;
}

.p-block{
    padding: 0 150px;
}

.nav{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.nav a{
    text-decoration: none;
    color: #B8BECD;
    margin-right: 35px;
}

.nav a:hover{
    color: #202336;
    transition: .5s;
}

.nav__btn{
    padding: 16px 36px;
    border-radius: 8px;
    min-width: 132px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.login-btn{
    background-color: #fff;
    color: #FB8F1D;
    border: 2px solid #FB8F1D;
    margin-right: 18px;
}

.register-btn{
    background-color: #FB8F1D;
    color: #fff;
    border: #FB8F1D 2px solid;
}

header{
    padding-right: 80px;
    display: flex;
    justify-content: flex-end;
}

h1{
    font-family: 'Playfair Display';
    font-weight: bold;
    font-size: 64px;
    line-height: 125%;
}

.underline-block{
    padding-bottom: 21px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 22px;    
}

.underline{
    border-bottom: 2px solid black;
}

select{
    max-width: 220px;
    padding: 17px 20px;
    border-radius: 6px;
    font-family: 'Inter';
    font-size: 15px;
    margin-bottom: 35px;
}/* нужно добавить стрелочки нормальные */

.select-block{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 470px;
    max-height: 200px;
}

.content__button{
    background-color: #FB8F1D;
    border: #FB8F1D 2px solid;
    padding: 16px 59px;
    color: #fff;
}

.main-block{
    display: flex;

}

.traveller{
    max-width: 50%;
}