* {
    box-sizing: border-box;
   /*  padding: 0;margin: 0; */
}

p{
    font-family: 'Inter', sans-serif;
}

/* .p-block {
    padding: 0 150px;
} */

.nav {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.nav a {
    text-decoration: none;
    color: #B8BECD;
    margin-right: 35px;
}

.nav a:hover {
    color: #202336;
    transition: .5s;
}

.nav__btn {
    padding: 10px 36px;
    border-radius: 8px;
    min-width: 132px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.login-btn {
    background-color: #fff;
    color: #FB8F1D;
    border: 2px solid #FB8F1D;
    margin-right: 18px;
    cursor: pointer;
}

.register-btn {
    background-color: #FB8F1D;
    color: #fff;
    border: #FB8F1D 2px solid;
    cursor: pointer;
}

header {
    padding-right: 80px;
    display: flex;
    justify-content: flex-end;
    max-width: 1415px;
    margin: 0 auto;
}

h1,h2,h3{
    font-family: 'Playfair Display';
}

h1 {
    font-weight: bold;
    font-size: 64px;
    line-height: 125%;
}

.underline-block {
    padding-bottom: 21px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 22px;
}

.underline {
    border-bottom: 2px solid black;
}

select {/* нужно добавить стрелочки нормальные */
    width: 220px;
    padding: 17px 20px;
    border-radius: 6px;
    font-family: 'Inter';
    font-size: 15px;
    margin-bottom: 35px;
    margin-right: 30px;
}

.select-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 200px;
}

.content__button {
    background-color: #FB8F1D;
    border: #FB8F1D 2px solid;
    padding: 16px 59px;
    color: #fff;
    cursor: pointer;
}

.main-block {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 270px;
    max-width: 1415px;
}

.traveller {
    max-width: 50%;
}

.learnMore-block{
    display: flex;
    justify-content: space-between;
    max-width: 1250px;
    margin: 0 auto;
    margin-bottom: 260px;
}

.block__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.block__text h2{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.block__text p{
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 35px;
    color: #B8BECD;
    max-width: 450px;
}

.button-learnmore{
    font-family: 'Inter', sans-serif;
    background-color: #FB8F1D;
    color: #fff;
    padding: 15px 38px;
    font-size: 16px;
    font-weight: 500;
    max-width: fit-content;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.gallery{
    max-width: 1120px;
    margin: 0 auto;
    margin-bottom: 200px;
}

.gallery__text h2{
    margin: 0;
    font-size: 36px;
}

.gallery__text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.list-link{
    text-decoration: none;
    color: #FB8F1D;
    font-family: 'Inter', sans-serif;
}

.block__imgs{
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
}

.gallery__img{
    border-radius: 10px;
}

.gallery__img-text{
    position: absolute;
    background-color: #fff;
    padding: 11px 22px 0 0;
    border-radius: 0 10px 0 0;
    top: 274px;
    line-height: 24px;
}

.gallery__img-text p{
    margin: 0;
}

.item-name{
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.item-description{
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #B8BECD;
}

.comment-block{
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
}

.content__text{
    display: flex;
    flex-direction: column;
    max-width: 450px;
}

.stars{
    max-width: 190px;
}

blockquote{
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 40px;
}

.name{
    font-weight: bold;
    font-size: 22px;
    font-family: 'Inter', sans-serif;
    line-height: 48px;
    margin: 0;
}

.job{
    margin: 0;
    font-weight: 400;
    font-size: 18px;
}

.man{
    border-radius: 10px;
}

.man-img__slider{
    position: relative;
}

.slider__arrows{
    position: absolute;
    background-color: #fff;
    bottom: 0;
    right: 0;
    border-radius: 16px 0 0 0;
    padding: 20px 0 0 30px;
}

.rightarr{
    margin-left: 20px;
}

.trends{
    margin: 0 auto;
    margin-top: 150px;
    max-width: 1125px;
}

.trends__items{
    display: flex;
    justify-content: space-between;
}

.item{
    max-width: 266px;
}

.item img{
    max-height: 231px;
    width: 100%;
    border-radius: 7px 7px 0 0;
}

.title{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 19px;
    line-height: 30px;
}

.descr{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
}

.item a{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #FB8F1D;
    text-decoration: none;
}

footer{
    background-color: #F9F9FB; 
    padding-top: 80px;
    margin-top: 200px;
}

.footer__container{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer__links-container{
    display: flex;
    justify-content: space-between;
}

.footer__text{
    max-width: 400px;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #B8BECD;
    font-weight: 300;
}

ul{
    padding: 0;
    margin-right: 150px;
}

ul:last-child{
    margin-right: 0;
}

li{
    list-style: none;
    line-height: 38px;
}

.footer__links{
    display: flex;
}
